@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --clr-primary--300: hsl(225, 100%, 94%);
  --clr-primary--900: hsl(245, 75%, 52%);
  --clr-neutral--100: hsl(225, 100%, 98%);
  --clr-neutral--300: hsl(224, 23%, 55%);
  --clr-neutral--900: hsl(223, 47%, 23%);
  --ff-primary: 'Red Hat Display';
  --br: 1em;
}

/*------ Global Settings------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-primary);
  background: var(--clr-primary--300) url(../images/pattern-background-desktop.svg) no-repeat top center;
}

.container {
  height: 65vh;
  min-width: 30vw;
  background-color: white;
  border-radius: var(--br);
  display: grid;
  grid-template-rows: 1fr 2fr;
}

img {
  border-radius: var(--br) var(--br) 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.title {
  font-weight: 900;
}

.incentive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  width: 25vw;
  font-size: 1rem;
}

.btn {
  background-color: burlywood;
}