@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --clr-primary--300: hsl(225, 100%, 94%);
  --clr-primary--900: hsl(245, 75%, 52%);
  --clr-neutral--100: hsl(225, 100%, 98%);
  --clr-neutral--300: hsl(224, 23%, 55%);
  --clr-neutral--900: hsl(223, 47%, 23%);
  --ff-primary: 'Red Hat Display';
  --br: 1em;
  --br-elements: 0.5em;
}

/*------ Global Settings------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-primary);
  background: var(--clr-primary--300) url(../images/pattern-background-desktop.svg) top / contain no-repeat;
}

.container {
  height: 65vh;
  min-width: 30vw;
  background-color: white;
  border-radius: var(--br);
  display: grid;
  grid-template-rows: 1fr 2fr;
}

img {
  border-radius: var(--br) var(--br) 0 0;
  display: block;
  width: 100%;
}

.content {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

}

.title {
  font-weight: 900;
  color: var(--clr-neutral--900);
  padding-top: 1rem;
}

.incentive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: var(--clr-neutral--300);
  width: 25vw;
  font-size: 1rem;
}

.order__options {
  background-color: var(--clr-neutral--100);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: var(--br-elements);

}

.option__icon {
  align-self: center;
  justify-self: center;
}

.option__descriptions {
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option__title {
  color: var(--clr-neutral--900);
  font-weight: 900;
}

.option__price {
  color: var(--clr-neutral--300);
}

.btn {
  padding: 1rem;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: var(--br-elements);
}

.btn--confirm {
  background-color: var(--clr-primary--900);
  color: var(--clr-primary--300)
}

.btn--cancel {
  margin-bottom: 2rem;
}